:root {
  --bg: #f9fafb;
  --text: #0f172a;
  --radius: 16px;

  --shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.08);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg);
  color: var(--text);
  border-color: var(--border);
  min-height: 100dvh;
}

section {
  background: #ffffff;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 16px;
}
